absl-py==2.1.0
aiobotocore==2.21.1
aiohttp==3.9.5
aioitertools==0.12.0
aiosignal==1.3.1
alibi==0.9.6
annotated-types==0.7.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
asyncpg==0.30.0
attrs==23.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blis==0.7.11
blpapi==3.24.6
boto3==1.37.1
botocore==1.37.1
cachetools==5.5.2
catalogue==2.0.10
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
clikit==0.6.2
cloudpathlib==0.18.1
cloudpickle==3.0.0
cmdstanpy==1.2.3
colorama==0.4.6
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
crashtest==0.3.1
cvxopt==1.3.2
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
dataclasses-json==0.6.7
dateparser==1.2.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
dm-tree==0.1.9
docstring_parser==0.16
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
etils==1.12.0
exceptiongroup==1.2.1
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.53.0
frozendict==2.4.5
frozenlist==1.4.1
fsspec==2024.6.0
future==1.0.0
gast==0.4.0
gensim==4.3.3
google-auth==2.38.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
GraKeL==0.1.10
greenlet==3.2.1
grpcio==1.64.1
h5py==3.11.0
html5lib==1.1
huggingface-hub==0.23.4
idna==3.7
imageio==2.34.1
immutabledict==4.2.1
importlib_resources==6.5.2
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.29.4
ipython==8.25.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kaggle==1.6.17
keras==3.8.0
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
lemkelcp==0.1
libclang==18.1.1
lime==0.2.0.1
llvmlite==0.43.0
lxml==5.3.0
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.3.2
mltk==0.0.5
mpmath==1.3.0
multidict==6.0.5
multitasking==0.0.11
murmurhash==1.0.10
mypy_extensions==1.1.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
optree==0.11.0
package_name==0.1
packaging==24.0
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pastel==0.2.1
patsy==0.5.6
peewee==3.17.6
pgmpy==0.1.25
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
preshed==3.0.9
promise==2.3
prompt_toolkit==3.0.46
protobuf==3.20.3
psccommon==238.16
psutil==5.9.8
psycopg2-binary==2.9.10
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
pylev==1.4.0
pyparsing==3.1.2
pytest==8.3.3
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2025.2
pywin32==306
PyYAML==6.0.1
pyzmq==26.0.3
QuantLib==1.38
QuantLib-Python==1.18
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.11.3
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
shap==0.45.1
shellingham==1.5.4
simple-parsing==0.1.7
six==1.16.0
slicer==0.0.8
smart-open==7.0.4
soupsieve==2.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-lookups-data==1.0.5
SQLAlchemy==1.4.54
srsly==2.4.8
stack-data==0.6.3
stanio==0.5.0
statsmodels==0.14.2
sympy==1.13.1
tbb==2021.12.0
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-datasets==4.9.7
tensorflow-estimator==2.13.0
tensorflow-intel==2.16.2
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.16.1
termcolor==2.4.0
text-unidecode==1.3
thinc==8.2.4
threadpoolctl==3.5.0
tifffile==2024.6.18
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.2
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.2
typeguard==4.4.2
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
urllib3==2.2.2
wasabi==1.1.3
watchtower==3.4.0
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
Werkzeug==3.0.3
wordcloud==1.9.4
wrapt==1.16.0
xbbg==0.7.7
yarl==1.9.4
yfinance==0.2.44
zipp==3.21.0
